<script setup lang="ts"></script>

<template>
  <div class="card">
    <div class="card--header">
      <picture>
        <img src="../assets/image-qr-code.png" alt="QR" class="card--img" />
      </picture>
    </div>
    <div class="card--body">
      <h1 class="card--title">
        Improve your front-end skills by building projects
      </h1>
      <p class="card--description">
        Scan the QR code to visit Frontend Mentor and take your coding skills to
        the next level
      </p>
    </div>
  </div>
</template>

<style scoped lang="scss">
.card {
  background-color: $color-primary-white;
  margin: auto 2em;
  padding: 1em;
  border-radius: 1em;
  max-width: 380px;
  &--img {
    width: 100%;
    border-radius: 1em;
  }
  &--title {
    color: $title-color;
  }
  &--description {
    margin-bottom: 2em;
  }
}

@media screen and (min-width: $md-device) {
  .card {
    margin: auto;
  }
}
</style>
