<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import QRComponent from "./components/QRComponent.vue";
</script>

<template>
  <main class="main">
    <QRComponent />
  </main>
  <footer class="attribution">
    Challenge by
    <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
      >Frontend Mentor</a
    >. Coded by <a href="https://gitlab.com/vianhg">vianhg</a>.
  </footer>
</template>

<style scoped lang="scss">
.main {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.attribution {
  font-size: 11px;
  color: #3d3d3d;
}
.attribution a {
  color: hsl(229, 79%, 35%);
}

</style>
