$sm-device: 375px;
$md-device: 800px;
$lg-device: 1440px;

//## Colors
$color-primary-white: hsl(0, 0%, 100%);
$color-primary-light-gray: hsl(212, 45%, 89%); 
$color-primary-medium-gray: hsl(213, 19%, 54%); 
$color-primary-grayish-blue: hsl(220, 15%, 55%);
$color-primary-dark-blue: hsl(218, 44%, 22%);

$background-color: $color-primary-grayish-blue;

//##Typography
//### Headings
$title-color: $color-primary-dark-blue;

//###Body
$text-default-font-family: "Outfit";

$text-default-color: $color-primary-medium-gray;
$text-default-font-size: 15px;

